{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "colearendt.install" . }}

{{ template "colearendt.description" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
